.cta-top {

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: auto;

  h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 20px;

      p {
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.2;
      }
  }
}

.cta-bottom {
  
  display: flex;
    flex-direction: column;
    height: auto;

  h1 {
    padding-bottom: 40px;
    text-align: center;
    font-size: 2rem;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  img {
    border-radius: 11px;
    width: 30%;
    height: 6rem;
   
   }
   

   h2{    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 5%;}
}
.about {
  
  padding: 10px;
  width: 80%;
  text-align: center;
}


.cta-end {
 
  display: flex;
  justify-content: center;
  height: 65px;
}


.card{
  border-radius: 20px;
  width: 30%;
  background: #c3c3e5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  height: 300px;
  line-height: 1.4rem;
  margin-bottom: 7%;
  padding: 20px 20px 40px;
}


