@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  src: local('Yellowtail Regular'), local('Yellowtail-Regular'), url(https://fonts.gstatic.com/s/yellowtail/v9/OZpGg_pnoDtINPfRIlLohlvHxA.ttf) format('truetype');
}
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v8/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Ceg.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #F1F0FF;
  color: #443266;
  font-family: 'Roboto', sans-serif;
}
hr {
  border: 1.2px solid black;
  margin: 90px 0;
  width: 100%;
}
.container {
  width: 800px;
  margin: 0 auto;
}
@media (min-width: 300px) {
  .container {
    width: 300px;
  }
}
@media (min-width: 400px) {
  .container {
    width: 350px;
  }
}
@media (min-width: 700px) {
  .container {
    width: 600px;
  }
}
@media (min-width: 900px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1200px;
  }
}
.container .header-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 300px) {
  .container .header-container {
    line-height: 4rem;
    letter-spacing: 0.4rem;
    flex-direction: column;
  }
}
@media (min-width: 400px) {
  .container .header-container {
    line-height: 4rem;
    letter-spacing: 0.4rem;
    flex-direction: column;
  }
}
@media (min-width: 700px) {
  .container .header-container {
    line-height: 4rem;
    letter-spacing: 0.4rem;
    flex-direction: column;
  }
}
@media (min-width: 900px) {
  .container .header-container {
    flex-direction: row;
    line-height: 0;
    letter-spacing: 0;
  }
}
.container .header-container div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.container .header-container div h2 {
  color: #c802a0;
  font-family: 'Yellowtail', cursive;
}
@media (min-width: 300px) {
  .container .header-container div h2 {
    font-size: 1.4em;
  }
}
@media (min-width: 400px) {
  .container .header-container div h2 {
    font-size: 1.4em;
  }
}
@media (min-width: 700px) {
  .container .header-container div h2 {
    font-size: 2rem;
  }
}
@media (min-width: 900px) {
  .container .header-container div h2 {
    font-size: 2rem;
    margin-bottom: 7%;
  }
}
.container .header-container div h2 img {
  width: 10%;
}
@media (min-width: 900px) {
  .container .header-container div h2 img {
    width: 15%;
  }
}
.container .header-container div .hamburger {
  width: 30px;
  display: none;
}
@media (min-width: 300px) {
  .container .header-container div .hamburger {
    display: flex;
  }
}
@media (min-width: 400px) {
  .container .header-container div .hamburger {
    display: flex;
  }
}
@media (min-width: 700px) {
  .container .header-container div .hamburger {
    display: flex;
  }
}
@media (min-width: 900px) {
  .container .header-container div .hamburger {
    display: none;
  }
}
.container .header-container .navigation nav {
  padding: 20px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  position: relative;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
@media (min-width: 300px) {
  .container .header-container .navigation nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    display: none;
    margin: 0 auto;
  }
}
@media (min-width: 400px) {
  .container .header-container .navigation nav {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    display: none;
    margin: 0 auto;
  }
}
@media (min-width: 700px) {
  .container .header-container .navigation nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    display: none;
    margin: 0 auto;
    font-size: 2em;
  }
}
@media (min-width: 900px) {
  .container .header-container .navigation nav {
    display: flex;
    flex-direction: row;
    margin-top: 8%;
  }
}
.container .header-container .navigation nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #c802a0;
  position: relative;
  font-weight: 300;
  font-size: 1rem;
  border-radius: 10px;
}
.container .header-container .navigation nav a:hover {
  color: #443266;
  font-weight: 700;
  font-size: 1.2rem;
}
.container .header-container .navigation nav .btn-login {
  background: #c802a0;
  color: white;
  padding: 10px 5px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 1s ease-in-out;
  -webkit-box-shadow: 0px 10px 46px 11px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 10px 46px 11px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 10px 46px 11px rgba(0, 0, 0, 0.26);
}
@media (min-width: 300px) {
  .container .header-container .navigation nav .btn-login {
    padding: 10px 28px;
    margin-left: 0;
  }
}
@media (min-width: 700px) {
  .container .header-container .navigation nav .btn-login {
    padding: 10px 28px;
    margin-left: 0;
  }
}
@media (min-width: 900px) {
  .container .header-container .navigation nav .btn-login {
    padding: 10px 5px;
    margin-left: 15px;
  }
}
.container .header-container .navigation nav .btn-login:hover {
  color: #c802a0;
  background: white;
}
.container .header-container .navigation nav .btn-reg {
  background: #c802a0;
  color: white;
  padding: 10px 5px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 1s ease-in-out;
  -webkit-box-shadow: 0px 10px 46px 11px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 10px 46px 11px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 10px 46px 11px rgba(0, 0, 0, 0.26);
}
@media (min-width: 300px) {
  .container .header-container .navigation nav .btn-reg {
    padding: 10px 20px;
  }
}
@media (min-width: 400px) {
  .container .header-container .navigation nav .btn-reg {
    padding: 10px 20px;
  }
}
@media (min-width: 700px) {
  .container .header-container .navigation nav .btn-reg {
    padding: 10px 20px;
  }
}
@media (min-width: 900px) {
  .container .header-container .navigation nav .btn-reg {
    padding: 10px 5px;
  }
}
.container .header-container .navigation nav .btn-reg:hover {
  color: #443266;
  background: white;
}
@media screen and (max-height: 300px) {
  .container .header-container .navigation nav ul {
    margin-top: 40px;
  }
}
.nav-wrapper {
  width: 100%;
  padding: 50px 0 70px;
}
/* HOVER EFFECT 4 */
.effect-4 a:before {
  content: "[";
  left: -1px;
}
.effect-4 a:after {
  content: "]";
  right: -1px;
}
.effect-4 a:before,
.effect-4 a:after {
  position: absolute;
  opacity: 0;
  color: #c802a0;
  top: -1px;
  transition: all 0.5s;
}
.effect-4 a:hover:before,
.effect-4 a:hover:after {
  opacity: 0.7;
}
.effect-4 a:hover:before {
  left: -8px;
}
.effect-4 a:hover:after {
  right: -8px;
}
a:hover {
  color: white;
  font-weight: 700;
}
.footer {
  background: #443266;
  width: 100%;
  color: white;
  height: 76px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  padding: 20px;
}
.banner {
  color: white;
  background: #CCE8F4 url('https://images.pexels.com/photos/853427/pexels-photo-853427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  padding: 8em 0;
  margin: 4em 0 0 0;
  width: 100%;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 10px 46px 11px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 10px 46px 11px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 10px 46px 11px rgba(0, 0, 0, 0.26);
}
@media (min-width: 300px) {
  .banner {
    padding: 6em 0;
    height: 196px;
  }
}
@media (min-width: 400px) {
  .banner {
    display: none;
  }
}
@media (min-width: 700px) {
  .banner {
    width: 100%;
    height: 315px;
    display: flex;
  }
}
@media (min-width: 900px) {
  .banner {
    display: flex;
  }
}
.banner .banner-box {
  opacity: 0.9;
  height: 118px;
  width: 80%;
  background: #c802a0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 8px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-box-shadow: -11px 12px 34px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -11px 12px 34px 8px rgba(0, 0, 0, 0.4);
  box-shadow: -11px 12px 34px 8px rgba(0, 0, 0, 0.4);
  position: relative;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
@media (min-width: 300px) {
  .banner .banner-box {
    display: none;
  }
}
@media (min-width: 400px) {
  .banner .banner-box {
    display: none;
  }
}
@media (min-width: 700px) {
  .banner .banner-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 900px) {
  .banner .banner-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.banner .banner-box h1 {
  margin-right: 7px;
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 1.5rem;
}
@media (min-width: 700px) {
  .banner .banner-box h1 {
    font-size: 1em;
  }
}
.banner .banner-box h4 {
  font-size: 1.3rem;
  font-family: 'Permanent Marker', cursive;
  color: white;
}
@media (min-width: 700px) {
  .banner .banner-box h4 {
    font-size: 1em;
  }
}
.banner-content2 {
  padding: 85px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.banner-content2 .banner-box2 h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 23px;
  position: relative;
  webkit-animation: fadeleft 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeleft 2s;
  /* Firefox < 16 */
  -ms-animation: fadeleft 2s;
  /* Internet Explorer */
  -o-animation: fadeleft 2s;
  /* Opera < 12.1 */
  animation: fadeleft 2s;
}
.banner-content2 .banner-box2 h4 {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  position: relative;
  -webkit-animation: fadeup 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeup 2s;
  /* Firefox < 16 */
  -ms-animation: fadeup 2s;
  /* Internet Explorer */
  -o-animation: fadeup 2s;
  /* Opera < 12.1 */
  animation: fadeup 2s;
}
.hair-banner {
  text-align: center;
  position: relative;
  padding: 8em 0;
  margin: 4em 0 0 0;
  width: 100%;
  border-radius: 7px;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #CCE8F4;
}
@keyframes fadeleft {
  from {
    color: #a21eac;
    opacity: 0;
    right: -300px;
  }
  to {
    color: #da9ae2;
    opacity: 1;
    right: 0;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadeleft {
  from {
    opacity: 0;
    right: -300px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeleft {
  from {
    opacity: 0;
    right: -300px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
/* Internet Explorer */
@-ms-keyframes fadeleft {
  from {
    opacity: 0;
    right: -300px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
@keyframes fadeup {
  from {
    color: #d3dee2;
    opacity: 0;
    top: -300px;
  }
  to {
    color: gold;
    opacity: 1;
    top: 0 ;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadeup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadeup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    color: skyblue;
    opacity: 0;
    left: -300px;
  }
  to {
    color: palegreen;
    opacity: 1;
    left: 0 ;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#middle {
  border-top: 3px solid #0000000d;
}
#middle .index-middle-content {
  background: #c3c3e5;
  background: radial-gradient(circle, #c3c3e5 0%, #f1f0ff 100%);
  width: 100%;
  height: auto;
  border-radius: 60px;
  text-transform: capitalize;
  padding: 30px;
}
#middle .index-middle-content h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding: 10% 10% 5% 10%;
}
@media (min-width: 300px) {
  #middle .index-middle-content h2 {
    font-size: 2em;
  }
}
@media (min-width: 400px) {
  #middle .index-middle-content h2 {
    font-size: 2em;
  }
}
#middle .index-middle-content p {
  font-size: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #c802a0;
  line-height: 2.5rem;
}
@media (min-width: 300px) {
  #middle .index-middle-content p {
    font-size: 1em;
  }
}
@media (min-width: 400px) {
  #middle .index-middle-content p {
    font-size: 1em;
  }
}
#middle .index-middle-content .index-side-pic {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: row;
  padding: 15% 0;
}
@media (min-width: 300px) {
  #middle .index-middle-content .index-side-pic {
    border-left: 10px solid #9f2c961a;
    border-radius: 26px;
    height: auto;
    padding: 5% 0;
    margin: 5% 0;
  }
}
@media (min-width: 400px) {
  #middle .index-middle-content .index-side-pic {
    border-left: 10px solid #9f2c961a;
    border-radius: 26px;
    height: auto;
    padding: 5% 0;
    margin: 5% 0;
  }
}
@media (min-width: 700px) {
  #middle .index-middle-content .index-side-pic {
    display: flex;
    border-left: 20px solid #9f2c961a;
    border-radius: 26px;
    height: auto;
    padding: 5% 0;
    margin: 5% 0;
  }
}
@media (min-width: 900px) {
  #middle .index-middle-content .index-side-pic {
    display: flex;
  }
}
#middle .index-middle-content .index-side-pic h3 {
  text-align: center;
  width: 50%;
  margin-top: 10%;
  font-size: 3rem;
  line-height: 100%;
}
@media (min-width: 300px) {
  #middle .index-middle-content .index-side-pic h3 {
    font-size: 1em;
    line-height: 1.3rem;
  }
}
@media (min-width: 400px) {
  #middle .index-middle-content .index-side-pic h3 {
    font-size: 1em;
    line-height: 1.3rem;
  }
}
@media (min-width: 700px) {
  #middle .index-middle-content .index-side-pic h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
#middle .index-middle-content .index-side-pic img {
  width: 50%;
  height: auto;
  border-radius: 34px;
}
@media (min-width: 300px) {
  #middle .index-middle-content .index-side-pic img {
    width: 50%;
    height: 10rem;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10%;
  }
}
@media (min-width: 400px) {
  #middle .index-middle-content .index-side-pic img {
    width: 50%;
    height: 10rem;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10%;
  }
}
@media (min-width: 700px) {
  #middle .index-middle-content .index-side-pic img {
    height: 18rem;
    margin-top: 9%;
  }
}
#middle .index-middle-content .middle-content-img {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-left: 15%;
}
@media (min-width: 300px) {
  #middle .index-middle-content .middle-content-img {
    margin-left: 0;
    flex-direction: column;
    font-family: 'Permanent Marker', cursive;
    text-decoration: underline;
  }
}
@media (min-width: 400px) {
  #middle .index-middle-content .middle-content-img {
    margin-left: 0;
    flex-direction: column;
    font-family: 'Permanent Marker', cursive;
    text-decoration: underline;
  }
}
@media (min-width: 700px) {
  #middle .index-middle-content .middle-content-img {
    flex-direction: column;
    font-size: 1.8rem;
    font-family: 'Permanent Marker', cursive;
  }
}
@media (min-width: 900px) {
  #middle .index-middle-content .middle-content-img {
    flex-direction: row;
  }
}
#middle .index-middle-content .middle-content-img img {
  width: 80%;
  height: 150px;
  border-radius: 8px;
  margin-top: 2rem;
  height: auto;
}
#middle .index-middle-content .middle-content-img h3 {
  font-size: 1.4rem;
  margin-top: 3.5rem;
  font-weight: 300;
}
@media (min-width: 300px) {
  #middle .index-middle-content .middle-content-img h3 {
    font-size: 0.8em;
  }
}
@media (min-width: 400px) {
  #middle .index-middle-content .middle-content-img h3 {
    font-size: 0.8em;
  }
}
.index-bottom {
  color: #c802a0;
  font-size: 2rem;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
.cta-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: auto;
}
.cta-top h1 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 20px;
  font-family: 'Permanent Marker', cursive;
}
.cta-top p {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.2;
}
hr {
  opacity: 0.2;
  background: rgba(129, 22, 153, 0.027);
}
.cta-bottom {
  display: flex;
  flex-direction: column;
  height: auto;
}
.cta-bottom h1 {
  padding-bottom: 10px;
  text-align: center;
  font-size: 2rem;
  font-family: 'Yellowtail', cursive;
  text-decoration: underline;
  color: #c802a0;
}
.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 300px) {
  .card-container {
    flex-direction: column;
  }
}
@media (min-width: 900px) {
  .card-container {
    flex-direction: row;
  }
}
.card-container img {
  border-radius: 11px;
  width: 30%;
  height: 6rem;
}
@media (min-width: 300px) {
  .card-container img {
    width: 45%;
  }
}
@media (min-width: 700px) {
  .card-container img {
    width: 45%;
  }
}
@media (min-width: 900px) {
  .card-container img {
    width: 40%;
  }
}
@media (min-width: 1400px) {
  .card-container img {
    width: 40%;
  }
}
.card-container h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 5%;
}
@media (min-width: 300px) {
  .card-container h2 {
    color: #443266;
  }
}
.about {
  padding: 10px;
  width: 80%;
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;
}
.cta-end {
  display: flex;
  justify-content: center;
  height: 65px;
  text-transform: uppercase;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  color: #c802a0;
  margin-top: 5%;
}
.card {
  border-radius: 20px;
  width: 30%;
  background: #c3c3e5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  height: 300px;
  line-height: 1.4rem;
  margin-bottom: 7%;
  padding: 20px 20px 40px;
  -webkit-box-shadow: -2px 7px 40px -4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: -2px 7px 40px -4px rgba(0, 0, 0, 0.41);
  box-shadow: -2px 7px 40px -4px rgba(0, 0, 0, 0.41);
  border: 1px solid #0000002b;
}
@media (min-width: 300px) {
  .card {
    width: 80%;
  }
}
@media (min-width: 700px) {
  .card {
    width: 45%;
    height: 260px;
  }
}
@media (min-width: 900px) {
  .card {
    width: 30%;
    height: 300px;
  }
}
@media (min-width: 1400px) {
  .card {
    width: 25%;
  }
}
.card2 {
  border-radius: 20px;
  width: 30%;
  background: #c3c3e5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  height: 300px;
  line-height: 1.4rem;
  margin-bottom: 7%;
  padding: 20px 20px 40px;
  -webkit-box-shadow: -2px 7px 40px -4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: -2px 7px 40px -4px rgba(0, 0, 0, 0.41);
  box-shadow: -2px 7px 40px -4px rgba(0, 0, 0, 0.41);
  border: 1px solid #0000002b;
}
@media (min-width: 300px) {
  .card2 {
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
  }
}
@media (min-width: 700px) {
  .card2 {
    width: 45%;
    height: 260px;
  }
}
@media (min-width: 900px) {
  .card2 {
    width: 30%;
    height: 300px;
  }
}
@media (min-width: 1400px) {
  .card2 {
    width: 25%;
  }
}
.service-cards {
  border-radius: 20px;
  width: 30%;
  background: #c3c3e5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  height: 300px;
  line-height: 1.4rem;
  margin-bottom: 7%;
  padding: 20px 20px 40px;
  -webkit-box-shadow: -2px 7px 40px -4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: -2px 7px 40px -4px rgba(0, 0, 0, 0.41);
  box-shadow: -2px 7px 40px -4px rgba(0, 0, 0, 0.41);
  border: 1px solid #0000002b;
}
@media (min-width: 700px) {
  .responsive-cards {
    width: 45%;
    height: 260px;
  }
}
@media (min-width: 900px) {
  .responsive-cards {
    width: 30%;
    height: 300px;
  }
}
@media (min-width: 1400px) {
  .responsive-cards {
    width: 25%;
  }
}
.bg-modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  overflow: hidden;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.bg-modal .modal-content {
  width: 500px;
  height: 300px;
  background: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.bg-modal .modal-content .close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 1.4rem;
  transform: rotate(45deg);
  cursor: pointer;
}
.bg-modal .modal-content h1 {
  font-family: 'Permanent Marker', cursive;
  color: #c802a0;
  font-size: 4rem;
  margin-bottom: 5%;
}
.bg-modal .modal-content img {
  width: 10%;
  border-radius: 50px;
}
.bg-modal .modal-content input {
  width: 100%;
  display: block;
  border-radius: 12px;
  height: 30px;
  margin: 15px auto;
}
.bg-modal .modal-content a {
  text-decoration: none;
  background: #c802a0;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  position: relative;
  bottom: 1%;
}
.reg-modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  overflow: hidden;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.reg-modal .modal-content {
  width: 500px;
  height: 410px;
  background: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.reg-modal .modal-content .closeReg {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 1.4rem;
  transform: rotate(45deg);
  cursor: pointer;
}
.reg-modal .modal-content h1 {
  font-family: 'Permanent Marker', cursive;
  color: #c802a0;
  font-size: 4rem;
  margin-bottom: 5%;
}
.reg-modal .modal-content img {
  width: 10%;
  border-radius: 50px;
}
.reg-modal .modal-content input {
  width: 100%;
  display: block;
  border-radius: 12px;
  height: 30px;
  margin: 15px auto;
}
.reg-modal .modal-content a {
  text-decoration: none;
  background: #c802a0;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  position: relative;
  bottom: 1%;
}
.btn {
  background: #c802a0;
  color: white;
  padding: 10px 5px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 1s ease-in-out;
  -webkit-box-shadow: 0px 10px 46px 11px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 10px 46px 11px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 10px 46px 11px rgba(0, 0, 0, 0.26);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.heading-section h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  padding: 5px;
  padding-bottom: 8px;
}
.heading-section h1 h3 {
  font-size: 1.2rem;
}
.about-cards {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-right: 60px;
  padding-left: 40px;
  height: 400px;
}
@media (min-width: 300px) {
  .about-cards {
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    padding-top: 25px;
  }
}
@media (min-width: 700px) {
  .about-cards {
    flex-direction: row;
    width: 90%;
    height: 350px;
    margin: auto;
  }
}
@media (min-width: 900px) {
  .about-cards {
    width: 80%;
  }
}
@media (min-width: 1400px) {
  .about-cards {
    width: 60%;
  }
}
.card {
  margin: auto;
}
@media (min-width: 300px) {
  .card {
    height: 80%;
    margin: 6px auto;
  }
}
@media (min-width: 400px) {
  .card {
    width: 80%;
    height: 250px;
  }
}
@media (min-width: 700px) {
  .card {
    margin: 15px;
  }
}
@media (min-width: 900px) {
  .card {
    width: 35%;
    margin: 30px;
  }
}
@media (min-width: 1400px) {
  .card {
    width: 30%;
    margin: 40px;
  }
}
.card h3 {
  font-size: 1.2rem;
  padding-bottom: 5px;
}
.card h3 p {
  font-size: 1rem;
  text-align: center;
}
.card-photo {
  margin: auto;
  width: 40%;
  height: 58%;
}
@media (min-width: 300px) {
  .card-photo {
    width: 30%;
    height: 65%;
  }
}
@media (min-width: 400px) {
  .card-photo {
    width: 50%;
  }
}
@media (min-width: 700px) {
  .card-photo {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .card-photo {
    width: 45%;
  }
}
@media (min-width: 1400px) {
  .card-photo {
    width: 40%;
  }
}
.contact {
  text-align: center;
  height: 189px;
  padding: 20px;
}
@media (min-width: 300px) {
  .contact {
    height: 110px;
  }
}
@media (min-width: 900px) {
  .contact {
    height: 178px;
  }
}
@media (min-width: 1400px) {
  .contact {
    height: 214px;
  }
}
.contact p {
  padding-bottom: 10px;
}
.contact-btn {
  background: #c802a0;
  color: white;
  margin-left: auto;
  padding: 10px 5px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 46px 11px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 10px 46px 11px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 10px 46px 11px rgba(0, 0, 0, 0.26);
}
@media (min-width: 300px) {
  .contact-btn {
    padding: 10px 28px;
    margin-left: 0;
  }
}
@media (min-width: 400px) {
  .contact-btn {
    padding: 10px 28px;
    margin-left: 0;
  }
}
@media (min-width: 700px) {
  .contact-btn {
    padding: 10px 28px;
    margin-left: 0;
  }
}
@media (min-width: 900px) {
  .contact-btn {
    padding: 10px 5px;
    margin-left: 15px;
  }
}
.contact-btn:hover {
  color: #c802a0;
  background: white;
}
