
.container {
    width: 800px;
    margin: 0 auto;



.header-container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
        align-items: center;
    div{
        display: flex;
        justify-content: flex-start;
        align-items: center;

h2{ font-size: 2.5rem;
    color: @primary;
    font-family: 'Yellowtail', cursive;
}}

.navigation{
    nav{ padding: 20px;
        a{  margin-left: 10px;
            text-decoration: none;
            color: @blueviolet;
        }
    }
}


}}