.cta-top {
  background-color: blueviolet;

  h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 20px;

    h2 {
      text-align: center;
      font-size: 1.5rem;
      padding-bottom: 20px;

      p {
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.2;
      }
    }
  }
}

.cta-bottom {
  background-color: blueviolet;

  h1 {
    padding: 20px;
    text-align: center;
    font-size: 2rem;
  }
}

.card-container {
  display: flex;
  flex-direction: row-reverse;
  img {
    width: 30%;
    margin-left: 65px;
    padding-bottom: 10px;
   }
}
.about {
  width: 50%;
  margin-left: 55px;
}